@media only screen and (min-width: 768px) {
  /* NavBar Styles Starts Here */
  .hamburger {
    display: none;
  }

  .ham-close {
    display: none;
  }

  #navbar {
    visibility: visible;
    position: relative;
    display: block;
    background-color: #fff;
    height: auto;
  }

  #navbar .top-nav {
    justify-content: flex-end;
    gap: 2%;
    width: 100%;
    border: none;
    padding: 1% 10%;
    margin: 0;
    background-color: #272a31;
  }

  #navbar .top-nav li a {
    color: #fff;
  }

  #navbar .down-bar {
    flex-direction: row;
    gap: 5%;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 0;
    background-color: #fff;
  }

  .shift-right {
    margin-right: auto;
  }

  #navbar .down-bar li {
    padding: 0;
    border: none;
    height: auto;
  }

  #navbar .down-bar li a {
    color: #272a31;
    font-size: 1.1em;
    font-weight: 400;
  }

  #navbar .down-bar .special {
    border: 5px solid #ec5242;
    padding: 1%;
  }

  #navbar .logo {
    display: block;
    width: 100%;
    height: 10vh;
    padding: 2%;
  }

  /* NavBar Styles Ends Here */

  /* Hero Styles Startss Here */
  header {
    background-position-y: 130px;
    background-position-x: 37%;
  }

  #hero {
    margin: 0;
    padding: 5% 10%;
  }

  /* Programs Style. It here because of linters */
  .all-programs .program img {
    width: 40%;
    height: auto;
  }

  /* Programs Style. It here because of linters */

  #hero img {
    width: 40%;
    height: auto;
    position: absolute;
    right: 4%;
  }

  #hero div {
    font-size: 2em;
    font-weight: 100;
    color: #ec5242;
  }

  #hero h1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 1.2em;
    width: 50vw;
  }

  /* Programs Style. It here because of linters */
  .all-programs .program p {
    font-size: 1.1em;
  }

  /* Programs Style. It here because of linters */

  #hero p {
    width: 45vw;
    padding: 2%;
    font-size: 1.2em;
    line-height: 1.6;
  }

  #hero .date {
    font-size: 2.5em;
    font-weight: 900;
  }

  /* Hero Styles Ends Here */

  /* Programs Styles Starts Here */
  #programs h2 {
    padding: 5% 2% 2% 0;
  }

  .all-programs {
    display: flex;
    gap: 1%;
    padding: 5% 5%;
  }

  .all-programs .program {
    flex-direction: column;
    width: 30vw;
    height: auto;
    margin: 0;
    text-align: center;
    padding: 1%;
    background-color: #ffffff17;
  }

  .all-programs .program h3 {
    font-size: 1.5em;
  }

  #programs .desktop-text {
    display: block;
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    width: 27vh;
    border-bottom: 1px solid #fff;
  }

  .join {
    display: none;
  }

  /* Programs Styles Ends Here */

  /* Featured Musicians Styles Starts Here */
  #all-musicians .hidden {
    display: flex;
  }

  #all-musicians .more {
    display: none;
  }

  #all-musicians h2 {
    padding-top: 5%;
  }
  
  #all-musicians
  .musicians-sub-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 369px);
    justify-content: center;
    column-gap: 18%;
    width: 90%;
    height: auto;
    padding: 5% 0;
  }

  #all-musicians .musicians-sub-container img {
    width: 50%;
    height: auto;
  }

  #all-musicians .profile-container {
    height: auto;
  }

  #all-musicians .profile-container p {
    width: 18vw;
  }

  /* Featured Musicians Styles Ends Here */

  /* Footer Styles Starts Here */
  #footer {
    display: block;
  }

  #footer .flex-imgs {
    gap: 5%;
  }

  #footer .copywrite {
    justify-content: center;
    gap: 5%;
    height: auto;
    padding: 1% 2%;
  }

  #footer .copywrite img {
    width: 7%;
    height: auto;
  }

  #footer .copywrite p {
    font-size: 1.5em;
  }

  #hidden-about {
    display: none;
  }

  /* Footer Styles Ends Here */

  /* About Styles Starts Here */
  #hero .about-title {
    text-align: center;
    width: 100%;
  }

  #hero .info {
    margin: 5% auto 0 auto;
  }

  #about-enquiry {
    margin: 0 auto;
  }

  #hero #about-email {
    margin-top: 0.1%;
    text-decoration: underline;
  }

  #about-main h2 {
    font-size: 3em;
    font-weight: 500;
    padding: 6%;
  }

  #about-main .logo-container {
    width: 60%;
    height: auto;
    margin: 2% auto;
  }

  #about-main .logo-container img {
    width: 40%;
    height: auto;
  }

  #about-main .see {
    padding: 2%;
  }

  .flex-about-imgs {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 5%;
  }

  .flex-about-imgs .img-container {
    width: 35%;
    height: 50vh;
    margin: 0;
  }

  /* About Styles Ends Here */

  /* Hover And Animation Styles Starts Here */
  #navbar .hover:hover {
    color: #ec5242;
  }

  #hero img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  #all-musicians img:hover {
    transform: scale(2, 2);
  }

  #navbar .logo:hover {
    transform: scale(2, 3);
  }

  #programs img:hover {
    transform: skew(20deg, 10deg);
  }

  #programs .program:hover {
    border: 1px solid #fff;
    transform: scale(1.2);
  }

  /* Hover And Animation Styles Ends Here */
}
