@media only screen and (min-width: 768px) {
  /* NavBar Styles Starts Here */
   .hamburger {
    display: none;
  }

  .ham-close {
    display: none;
  }
  
  #navbar {
    visibility: visible;
    position: relative;
    display: block;
    background-color: #fff;
    height: auto;
  }

  #navbar
  .top-nav {
    justify-content: flex-end;
    gap: 2%;
    width: 100%;
    border: none;
    padding: 1% 10%;
    margin: 0;
    background-color: #272a31;
  }

  #navbar
  .top-nav
  li
  a {
    color: #fff;
  }

  #navbar
  .down-bar {
    flex-direction: row;
    gap: 5%;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 0;
    background-color: #fff;
  }

  .shift-right {
    margin-right: auto;
  }

  #navbar
  .down-bar
  li {
    padding: 0;
    border: none;
    height: auto;
  }

  #navbar
  .down-bar
  li
  a {
    color: #272a31;
    font-size: 1.1em;
    font-weight: 400;
  }
  
  #navbar
  .down-bar
  .special {
    border: 5px solid #ec5242;
    padding: 1%;
  }

  #navbar
  .logo {
    display: block;
    width: 100%;
    height: 10vh;
    padding: 2%;
  }
  /* NavBar Styles Ends Here */
  /* Hero Styles Startss Here */
  header {
    background-position-y: 130px;
    background-position-x: 37%;
  }

  #hero {
    margin: 0;
    padding: 5% 10%;
  }

  #hero
  h6 {
    font-size: 2em;
    font-weight: 100;
  }

  #hero
  h1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 1.2em;
    width: 50vw;
  }

  #hero
  p {
    width: 45vw;
    padding: 2%;
    font-size: 1.2em;
    line-height: 1.6;
  }

  #hero
  .date {
    font-size: 2.5em;
    font-weight: 900;
  }
  /* Hero Styles Ends Here */
  /* Programs Styles Starts Here */
  #programs
  h2 {
    padding: 5% 2% 2% 0;
  }
  .all-programs {
    display: flex;
    gap: 1%;
    padding: 5% 9%;
  }
  
  .all-programs
  .program {
    flex-direction: column;
    width: 30vw;
    height: auto;
    margin: 0;
    text-align: center;
    padding: 1%;
  }

  .all-programs
  .program
  img {
    width: 40%;
    height: auto;
  }

  .all-programs
  .program
  h3 {
    font-size: 1.5em;
  }

  .all-programs
  .program
  p {
    font-size: 1.1em;
  }

  #programs
  .desktop-text {
    display: block;
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    width: 27vh;
    border-bottom: 1px solid #fff;
  }

  .join {
    display: none;
  }
  /* Programs Styles Ends Here */
  /* Featured Musicians Styles Starts Here */
  #all-musicians
  .hidden {
    display: flex;
  }

  #all-musicians
  .more {
    display: none;
  }

  #all-musicians
  h2 {
    padding-top: 5%;
  }

  .musicians-sub-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 369px);
    justify-content: center;
    width: 76%;
    height: auto;
    margin: 3% auto;
  } 
 
  #all-musicians
  .musicians-sub-container
  img {
    width: 50%;
    height: auto;
  }
  /* Featured Musicians Styles Ends Here */
  /* Footer Styles Starts Here */
  #footer {
    display: block;
  }

  #footer
  .flex-imgs {
    gap: 5%;
  }

  #footer
  .copywrite {
    justify-content: center;
    height: auto;
    padding: 1% 2%;
  }

  #footer
  .copywrite
  img {
    width: 7%;
    height: auto;
  }

  #footer
  .copywrite
  p {
    font-size: 1.5em;
  }
  /* Footer Styles Ends Here */
}
