*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: lato, sans-serif;
  font-style: normal;
}

/* NavBar and Hero Styles Starts Here */
header {
  background-image: url("./img/main_big.png");
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.logo {
  display: none;
}

.nav-links {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #373a41;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #fff;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 2%;
}

a {
  text-decoration: none;
  color: #fff;
}

.top-nav li a {
  font-size: 1em;
  font-weight: 600;
}

.down-bar {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  height: auto;
  margin-top: -12%;
  padding-bottom: 5%;
}

li {
  list-style: none;
}

.down-bar li {
  padding-left: 30%;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5%;
}

.down-bar li a {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 2%;
}

.ham-close {
  font-size: 30px;
  position: relative;
  left: 40%;
  padding: 5%;
}

.hamburger {
  padding: 3% 6%;
}

.bar {
  display: block;
  width: 40px;
  height: 7px;
  margin-top: 5px;
  background-color: #5e5c5c;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20%;
  padding: 5%;
}

.hero-container h6 {
  font-size: 1.25em;
  font-weight: 500;
}

.hero-container h6,
h1 {
  color: #ec5242;
}

.hero-container h1 {
  font-size: 1.7em;
  font-weight: 900;
  line-height: 1.2em;
}

.hero-container p {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.3em;
  border: 4px solid #fff;
  padding: 4%;
}

.hero-container p,
h2 {
  color: #7e7e7e;
}

.date {
  font-size: 1.75em;
  color: #000;
}

.venue {
  font-size: 1.25em;
  font-weight: 300;
}

/* NavBar and Hero Styles Ends Here */

/* Main Section Styles Starts Here */
.programs-container {
  background-image: url("./img/pattern_bg.png");
  background-size: 10%;
  background-color: #272a31;
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.programs-container h2 {
  color: #fff;
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
  padding: 10% 2% 2% 0;
}

hr {
  width: 5%;
  height: 1px;
  border: none;
  margin: 0 auto;
  background-color: #ec5242;
}

.program {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 3px solid #373a41;
  width: 95%;
  height: 10%;
  margin: 0 auto 3% auto;
  padding: 2%;
}

.space-top {
  margin-top: 10%;
}

.program img {
  width: 20%;
  height: 20%;
}

.program h3 {
  color: #ec5242;
}

.program p {
  color: #fff;
  font-size: 0.9em;
  width: 100%;
}

.join {
  background-color: #ec5242;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 10% 0;
}

.join h4 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
}

.desktop-text {
  display: none;
}

/* Featured Musicians Styles Starts Here */
.musicians-container h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.75em;
  font-weight: 700;
  padding-top: 10%;
}

.musicians {
  display: flex;
  gap: 15px;
  width: 100%;
  height: auto;
  padding: 5%;
  margin: 8% auto 4% auto;
}

.musicians img {
  width: 40%;
  height: auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-container h3 {
  font-size: 1.75em;
  font-weight: 700;
}

.profile-divider {
  width: 20%;
  height: 1px;
  border: none;
  background-color: #7e7e7e;
  margin: 0;
}

.profile-sub-header {
  color: #ec5242;
  font-size: 1.1em;
  font-weight: 600;
}

.profile-container p {
  font-size: 1.1em;
  font-weight: 600;
}

.hidden {
  display: none;
}

.more {
  border: 2px solid #7e7e7e;
  width: 95%;
  height: 30%;
  margin: 0 auto;
  padding: 5%;
}

.more h4 {
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
}

/* Featured Musicians Styles Ends Here */

/* About Hero Styles Starts Here */
.about-section h6 {
  text-align: center;
}

.about-info {
  background-color: #fff;
  margin-top: 10%;
}

#about-enquiry,
#about-email {
  border: none;
}

#about-email {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  margin-top: -4%;
  color: #000;
}

/* About Hero Styles Ends Here */

/* About main Styles Starts Here */
.about-main-container h2 {
  color: #000;
  text-align: center;
  padding: 10% 1%;
  font-size: 1.3em;
}

.about-divider {
  margin-top: -5%;
}

.about-main-container p {
  color: #7e7e7e;
  text-align: center;
  padding-top: 3%;
}

.logo-container {
  width: 90%;
  height: auto;
  border: 1px solid #7e7e7e;
  display: flex;
  justify-content: center;
  margin: 15% auto;
}

.logo-container img {
  width: 60%;
  height: 60%;
}

.divider {
  width: 100%;
  background-color: #7e7e7e;
}

.img-container {
  background-image: url("./img/african.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 40vh;
  margin: 5% auto;
}

.img-container h2,
#img-info {
  color: #fff;
  font-weight: 700;
}

.two {
  background-image: url("./img/young-couple.jpg");
}

/* About main Styles Ends Here */

/* Main Section Styles Starts Here */

/* Footer Styles Starts Here */
footer {
display: none;
}
.footer-container {
  width: 100%;
  height: auto;
  background-color: #272a31;
}

.footer-container h2 {
  color: #fff;
  text-align: center;
  padding-top: 5%;
}

.flex-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 2%;
}

.copywrite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.copywrite img {
  width: 30%;
  height: 30%;
}

.copywrite p {
  text-align: center;
  width: 50%;
}

/* Footer Styles Ends Here */
